.card {
	border: 1px solid #ccc;
	padding: 16px;
	margin: 16px;
	text-align: center;
	width: 200px;
}

.image {
	width: 100%;
	height: auto;
}

.details {
	margin-top: 8px;
}

.name {
	font-size: 1.2em;
	margin: 0;
}

.price {
	color: green;
	font-size: 1.1em;
	margin: 0;
}

.productList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media (max-width: 1200px) {
	.footer {
		gap: 38px;
		padding: 30px 0 30px 0;
		border-top: none;
	}
}

@media (max-width: 860px) {
	.top {
		align-items: start;
		flex-direction: column-reverse;
		gap: 21px;
	}
}
